.Like{
  color:palevioletred;
}
.player{
  display: flex;
  &__main{
    width: 75%;
    margin-left: 35px;
    &__contents{
      &__title{
        font-weight: bold;
        font-size: 30px;
        margin:10px 0;
        border-bottom:1px solid red;
        display: inline-block;
      }
      &__name{
        text-align: end;
      }
      &__body{
        font-size:15px;
        margin-bottom: 10px;
        display:flex;
        justify-content:space-between;
        white-space: pre-wrap;
      }
      &__video{
        height: 500px;
        .VideoPlayr{
          width: 100%;
          height: 100%;
          padding-top:20px;
          border-top:1px solid lightgray;
        }
      }
    &__menus{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__commtent{
        height: 50px;
        width: 85%;
        .input-text{
          width: 80%;
        }
      }
      &__content{
          width: calc(100% - 85%);
          display: flex;
          justify-content: space-around;
        }
    }
    }
    &__comments{
      margin-top:20px;
      &__CommentsCount{
        text-align: end;
      }
      &__contents{
        height: 500px;
        overflow: scroll;
        border-top: 1px solid red;
        padding:10px 0 0 10px;
        text-align: start;
        &__image{
          margin: 10px;
          display: flex;
          align-items: center;
          background-color:lightgray;
          border-radius:10px;
          .image-icon{
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
            &__user{
              font-size:12px;
            }
            &__time{
              font-size: 12px;
              padding-bottom: 10px;
            }
          }
      }
    }
  }
  &__movie{
    height: 1300px;
    width: calc(100% - 75%);
    margin:89px 15px 0;
    text-align: center;
    &__MoViseList{
      height: 95%;
      margin:20px 0;
      overflow: scroll;
      .ListContens{
        display: flex;
        .ListTitel{
          padding: 12px 0 0 10px;
          &__time{
            font-size:10px;
          }
          &__commnet{
            font-size: 12px;
          }
          &__like{
            font-size: 12px;
          }
          &__list{
            font-size: 12px;
          }
        }
      }
    }
  }
}