.MemberRegister{
  font-family: 'Hannotate TC',sans-serif;
  background-color:lightgray;
  padding:50px 200px;
  height: 100%;
  text-align: center;
  &__page{
    background-color:white;
    padding:20px 0;
    border-radius: 10px;
    &__title{
      padding-bottom: 30px;
    }
    &__form{
      .FormField{
        padding-bottom: 20px;
        .FormField__group{
          width: 50%;
        }
      }
      .actions{
        .SubmitBtn{
          width: 50%;
          background-color:skyblue;
        }
      }
    }
    &__SignIn{
      font-size: 13px;
      padding-top:15px;
      
    }
  }
}